.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    245.57deg,
    rgba(124, 18, 22, 0.69) 0%,
    rgba(202, 61, 50, 0.64) 36.98%,
    rgba(13, 71, 134, 0.85) 58.85%,
    rgba(21, 93, 11, 0.6) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card_container {
  height: 600px;
  width: 950px;
  background: rgb(13, 15, 81);
  display: flex;
  flex-direction: row;
}

.left {
  flex: 2;
  background: linear-gradient(
    31.72deg,
    #8f1f1e 0%,
    rgba(191, 52, 34, 0.47) 31.25%,
    rgba(207, 164, 56, 0.78) 62.5%,
    #145c08 100%
  );
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: relative;
}

.right {
  height: 100%;
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;
  align-items: flex-start;
  padding-inline: 120px;
  padding-block: 60px;
}

.shoeImg {
  position: absolute;
  top: 90px;
  left: 0;
  scale: 2;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  background: linear-gradient(
    31.72deg,
    #8f1f1e 0%,
    rgba(191, 52, 34, 0.47) 31.25%,
    rgba(207, 164, 56, 0.78) 62.5%,
    #145c08 100%
  );
  border-radius: 25px;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  margin-top: auto;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(
    31.72deg,
    #cc3836 0%,
    rgba(234, 84, 64, 0.47) 31.25%,
    rgba(224, 184, 81, 0.78) 62.5%,
    #32a91d 100%
  );
  box-shadow: 0px 4px 4px rgba(237, 174, 174, 0.25);
  /* transition: all ease-in-out 250ms; */
}
